<nav class="navbar navbar-info bg-info">
   <div class="container-fluid">
      <span class="navbar-brand mb-0 h1"> </span>
      <ul class="navbar-nav me-auto mx-5">
         <li class="nav-item">
            <h1>{{title}}</h1>
         </li>
      </ul>
   </div>
</nav>